body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
fieldset,
form,
label,
input,
menu,
nav {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

@media (max-width: 1024px) {
   .page__about-wrapper {
      padding: 0 8px;
      max-width: 992px;
   }

   .page__about-title {
      padding: 46px 0px;
      line-height: 28px;
      font-size: 24px;
   }
}

.page__about {
   padding-top: 50px;
   background: #fff;
}

.page__about-wrapper {
   padding: 0 15px;
   max-width: 1200px;
   margin: 0 auto;
}

.page__about-title {
   padding: 50px 0px;
   line-height: 42px;
   text-align: center;
   font-size: 36px;
   font-weight: 400;
   font-style: normal;
   color: black;
}

.page__about-separator {
   width: 170px;
   height: 0;
   margin: 0 auto;
   border: none;
   border-top: 1px solid #EC7979;
   background-color: #EC7979;
}

.about__text {
   margin-bottom: 110px;
   font-family: 'Raleway';
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
   align-items: center;
   text-align: center;
   color: #86878B;
}

.page__about-content {

   width: 100%;
   display: flex;
   flex-wrap: wrap;
}


.page__content-title {
   font-family: Open Sans;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #000000;
   align-items: center;
   text-align: center;
}

.page__content-image {
   vertical-align: top;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.page__content-text {
   width: 360px;
   margin-right: 30px;
   align-items: center;
   text-align: center;
   font-family: Raleway;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
}

body {
   font-family: Raleway;
   background-color: #E5E5E5;
}