body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
hr,
ul,
li,
fieldset,
form,
label,
input,
menu,
nav {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

.container {
   margin: auto;
   width: 1200px;
   padding: 50px 15px;
}

.design {
   height: 442px;
   position: relative;
   background:
      url(../img/design.jpg) center no-repeat;
   background-size: cover;
}

.design::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.design__title {
   padding: 54px 0;
   margin: 0;
   text-align: center;
   line-height: 42px;
   font-family: "Raleway", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   color: #fff
}

.design__separator {
   width: 170px;
   height: 0;
   margin: 0 auto;
   border: none;
   border-top: 1px solid #fff;
   background-color: #fff;
}

h5 {
   margin: 40px 0 73px;
   line-height: 21px;
   text-align: center;
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   color: #fff;
}

.design__btn {
   width: 370px;
   height: 58px;
   padding: 0;
   margin: 0 400px;
   display: inline-block;
   background: transparent;
   color: #fff;
   border: 2px solid #fff;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   align-items: center;
   cursor: pointer;
}

.design__btn:hover {
   border: 2px solid #AB4949;
}

.contact {
   min-width: 1200px;
   padding: 0 15px;
   background: #fff;
}

.contact__title {
   padding: 54px 0;
   margin: 0;
   text-align: center;
   line-height: 42px;
   font-family: "Raleway", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   color: #000;
   text-transform: uppercase;
}

.text {
   margin: 40px 0 89px;
   line-height: 21px;
   text-align: center;
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   color: #86878B;
}

.contact__separator {
   width: 170px;
   height: 0;
   margin: 0 auto;
   border: none;
   border-top: 1px solid #EC7979;
   background-color: #EC7979;
}

.form__name {
   display: flex;
   flex-direction: column;
}

input {
   width: 571px;
   padding: 0;
   padding-bottom: 18px;
   margin-bottom: 50px;
   border: none;
   border-bottom: 1px solid #BDBDBD;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
}

.contact__form {
   display: flex;
   justify-content: space-between;
}

textarea {
   min-width: 569px;
   min-height: 210px;
   border: none;
   border-bottom: 1px solid #BDBDBD;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
}

.btn-send {
   width: 370px;
   height: 58px;
   padding: 0;
   margin: 50px 400px;
   border: none;
   background-color: #EC7979;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   align-self: center;
   color: #fff;
   cursor: pointer;
}

.btn-send:hover {
   background: #d13f3f;
   color: #fff;
}


.footer__text {
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: rgba(255, 255, 255, 0.5);

}

.footer {
   background: #000;
}

.footer__container {
   margin: auto;
   width: 1170px;
   padding: 35px 15px 27px;
}

.footer__icons {
   width: 545px;
   display: flex;
   justify-content: space-between;
   margin-left: 320px;
   margin-bottom: 35px;
}



.footer__text {
   margin: 0;
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: rgba(255, 255, 255, 0.5);
}