body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
fieldset,
form,
label,
input,
menu,
nav {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

.page__pricing {
   background-color: #F5F5F5;
}

.page__pricing-container {
   max-width: 1200px;
   padding: 50px 15px 50px;
   margin: auto;
}

.page__pricing-title {
   padding: 54px 0;
   text-align: center;
   line-height: 42px;
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 36px;
}

.page__pricing-separator {
   width: 170px;
   height: 0px;
   margin: 0 auto;
   border: none;
   border-top: 1px solid #EC7979;
   background-color: #EC7979;
}

.pricing-text {
   margin-bottom: 79px;
   line-height: 21px;
   text-align: center;
   font-family: Raleway;
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   color: #86878B;
}

.page__row {
   margin: 0px auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.page__pricing-column {
   height: 510px;
}

.page__item {
   width: 370px;
   display: block;
   text-align: center;
}

.page__subtitle {
   padding: 12px 0;
   display: block;
   border: 2px solid #F5F5F5;
   font-family: Open Sans;
   font-style: normal;
   font-size: 24px;
   font-weight: 700;
   line-height: 32px;
   background: #333333;
   color: #FFFFFF;
}

.page__price {
   padding: 27px 0;
   display: block;
   border: 2px solid #F5F5F5;
   font-family: Raleway;
   font-style: normal;
   font-size: 36px;
   font-weight: 700;
   line-height: 42px;
   background: #333333;
   color: #FFFFFF;
}


.page__label {
   padding: 13px 0;
   display: block;
   border: 2px solid #F5F5F5;
   font-family: Raleway;
   font-style: normal;
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
   background: #333333;
   color: rgba(255, 255, 255, 0.5);

}

.page__info {
   padding: 13px 0;
   display: block;
   border: 2px solid #F5F5F5;
   background: #FFFFFF;
   color: #86878B;
   font-family: Raleway;
   font-style: normal;
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
}

.page__pricing-column:nth-child(1) {
   transition: all 0.8s ease 0s;
}

.page__pricing-column:nth-child(1):hover {
   transform: translate(2px, -20px);
   box-shadow: 0 4px 10px 0 #333333;
}

.page__pricing-column:nth-child(2) {
   transition: all 0.8s ease 0s;
   box-shadow: 0 4px 10px 0 #333333;
}

.page__pricing-column:nth-child(2):hover {
   transform: translate(2px, -20px);
}

.page__pricing-column:nth-child(3) {
   transition: all 0.8s ease 0s;
}

.page__pricing-column:nth-child(3):hover {
   transform: translate(2px, -20px);
   box-shadow: 0 4px 10px 0 #333333;
}

@media (max-width: 1024px) {
   .page__pricing-container {
      max-width: 1024px;
      padding: 50px 16px;
   }

   .page__item {
      width: 317px;
   }

   .page__pricing-title {
      padding: 44px 0;
      line-height: 28px;
      font-size: 24px;
   }

   .page__pricing-separator {
      width: 143px;
   }

   .pricing-text {
      margin-bottom: 50px;
      line-height: 16px;
      font-size: 14px;
   }

   .page__pricing-column {
      height: 452px;
   }

   .page__subtitle {
      height: 53px;
   }

   .page__price {
      height: 88px;
   }

   .page__info {
      height: 44px;
   }

   .page__label {
      height: 44px;
   }
}

@media (max-width: 768px) {
   .page__pricing {
      max-width: 768px;
   }

   .page__row {
      flex-wrap: wrap;
   }

   .page__pricing-column:nth-child(3) {
      margin-top: 30px;
   }
}