@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Spectral+SC:wght@600&display=swap');

body {
   background: #E8E8E8;
   font-family: "Montserrat";
}

.registration {
   width: 600px;
   margin: 0 auto;
   padding-bottom: 95px;
   border-radius: 20px;
   background: #FFFFFF;
}

.form__registration {
   width: 385px;
   margin-left: 107px;
   border-bottom: 1px solid #BDBDBD;
   display: flex;
   flex-direction: column;
}

.form__title {
   padding: 129px 0 40px;
   font-weight: 600;
   font-size: 28px;
   line-height: 34px;
   color: #424242;
}

.form__text {
   width: 385px;
   height: 50px;
   margin-bottom: 24px;
   border: 1px solid #BDBDBD;
   border-radius: 83px;
   font-size: 14px;
   line-height: 17px;
   color: #BDBDBD;
}

.form__tel {
   width: 385px;
   height: 50px;
   margin-bottom: 24px;
   border: 1px solid #BDBDBD;
   border-radius: 83px;
   font-size: 14px;
   line-height: 17px;
   color: #BDBDBD;
}

.password__text {
   margin-top: -16px;
   margin-bottom: 40px;
   padding: 0;
   font-size: 10px;
   line-height: 125%;
   color: #424242;
}

.register {
   width: 295px;
   height: 50px;
   margin-left: 46px;
   margin-bottom: 37px;
   cursor: pointer;
   background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
   border: none;
   border-radius: 49px;
   color: #FFF;
   font-family: 'Spectral SC';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
}

.account {
   width: 290px;
   margin: 55px 0 0 135px;
   padding: 0;
   display: flex;
   justify-content: space-around;
   font-size: 16px;
   line-height: 20px;
   color: #424242;
}

.question_account {
   width: 125px;
   padding: 0;
}

.comein {
   width: 152px;
   height: 50px;
   margin-top: -10px;
   cursor: pointer;
   border: 1px solid #BDBDBD;
   box-sizing: border-box;
   border-radius: 49px;
   font-family: 'Spectral SC';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #BDBDBD;
}

.comein:hover {
   background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.comein:active {
   color: #FFFFFF;
   background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
}