@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.block__tabs-wrapper{
   width: 1170px;    
  /*блок по центру*/
   margin: 0 auto; 
   border: 1px solid #C6CBCD;
   border-top: none;
   border-right: none;
  } 
  .block__tabs-menu{
     display: flex;
     align-items: center;}
   
      .button-active{
         position: relative;
         padding: 10px 80px;  
         border: 1px solid #C6CBCD; 
         border-left: none;
         border-radius: 5px 5px 0 0;
         line-height: 19px;
         font-weight: 400;
         font-family: Open Sans;
         font-size: 14px;
         color: #333;
         background-color: #fff;
      }
      .button-active::after {
         position: absolute;
         content: "";
         left: 0;
         right: 0;
         padding: 3px;
         margin-top: 28px;
         background-color: white;
         }
   
     
      .button{ 
         margin-right: 60px;
         padding-left: 70px;
         border: none;    
         line-height: 19px;
         font-family: Open Sans;
         font-size: 14px;
         font-weight: 400;
         color: #333;
         background-color: #fff;
          }
   
      .block__tabs-content{
         display: flex;
         margin-left: 100px;
         border-right: 1px solid #C6CBCD;
         border-top: 1px solid #C6CBCD;
         }
      .block__content-title{
         height: 60px;
         padding: 30px 0 20px;
         line-height:40px;
         font-family:Open Sans;
         font-size: 30px;
         color: #000;
          }
   
      .block__content-text{
         display: block;
         margin-right: 30px;
         line-height:21px;
         font-size: 18px;
         font-family: Raleway;       
         }
      .block__content-buttom{
         width: 270px;
         height: 58px;
         margin-top: 30px;
         padding: 0;
         background-color:#EC7979; 
         border:1px solid #EC7979;
         }
   
      .download{
         display: block;
         font-weight: 600;
         line-height: 58px;
         text-decoration: none;
         text-transform: capitalize;
         text-align: center;
         font-size: 18px;
         font-family: Open Sans;
         color: #fff;
         }
   
      .block__content-image{
         margin-left: auto;
      }
   
         
         
      
