@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
fieldset,
form,
label,
input,
menu,
nav {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

* {
   box-sizing: border-box;
}

body {
   height: 1026px;
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/image.jpg") center no-repeat;
   background: -o-linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/image.jpg") center no-repeat;
   background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/image.jpg") center no-repeat;
   background-size: cover;
}

.header {
   margin: 0 auto;

}

.header::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 75px;
   top: 0;
   left: 0;
   z-index: 1;
   background: #000;
}



.header__container {
   width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
}

.header__main {
   position: relative;
   z-index: 2;
   margin-left: -45px;
   display: flex;
   justify-content: space-between;
}

img.logo {
   padding: 20px 0;
}

nav {
   display: flex;
   align-items: center;
   font-size: 14px;
   font-family: "Open Sans", sans-serif;
   font-style: normal;
   font-weight: 600;
   line-height: 19px;
}

.nav__link {
   display: inline-block;
   vertical-align: top;
   margin: 0 20px;
   color: #fff;
   text-decoration: none;
}

.nav__link:hover {
   background: #EC7979;
}

.nav__link:active {
   background: #AB4949;
}

.banner {
   height: 951px;
}

.banner__container {
   max-width: 1170px;
   margin: auto;
   display: flex;
}

.banner__content {
   margin-top: 208px;
   display: flex;
   justify-content: space-between;
}

.item__logo {
   position: relative;
}

.item__title {
   max-width: 670px;
   margin-top: 50.88px;
   font-family: "Raleway", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   color: #fff;
}

hr {
   width: 170px;
   left: 0;
   height: 0;
   margin: 55px 0 42px;
   border: none;
   border-top: 1px solid #fff;
   background-color: #fff;
}

h5 {
   width: 270px;
   margin: 0 0 42px;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: normal;
   line-height: 21px;
   color: #fff;
}

.btn {
   width: 270px;
   height: 58px;
   display: inline-block;
   background-color: transparent;
   border: 2px solid #fff;
   padding: 17px 30px;
   font-size: 16px;
   cursor: pointer;
   font-size: 20px;
   line-height: 24px;
   color: #fff;
}

.btn:hover {
   color: #EC7979;
   border: 2px solid #EC7979;
}

.btn:active {
   background: #AB4949;
   border: 2px solid #AB4949;
}

.content__item {
   position: relative;
}

.content__item2 {
   position: relative;
   max-width: 470px;
   height: 450px;
   margin-left: 30px;
   display: flex;
   flex-direction: column;
}

h4 {
   max-width: 470px;
   height: 90px;
   padding-bottom: 45px;
   border-radius: 10px 10px 0 0;
   text-align: center;
   line-height: 90px;
   background-color: #fff;
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   text-transform: uppercase;
}

.color {
   color: #EC7979;
}

input {
   width: 370px;
}

.form__fields {
   padding-top: 45px;
   height: 300px;
   background-color: #fff;
}

.form__field {
   height: 38px;
   padding: 0;
   margin: 0 50px;
   margin-bottom: 33px;
   border-bottom: 1px solid #BDBDBD;
}

.form__item {
   height: 35px;
}

.button {
   width: 470px;
   height: 60px;
   padding: 0;
   background-color: #EC7979;
   border: none;
   border-radius: 0 0 10px 10px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   color: #fff;
   align-self: center;
}

.button:hover {
   background: #AB4949;
}

.social {
   height: 140px;
   background: #F8EFEF;
}

.social__container {
   max-width: 1170px;
   margin: 0 auto;
}

.social__content {
   display: flex;
}

.social__item {
   margin-right: 50px;
}

.social__title {
   width: 470px;
   height: 60px;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 60px;
   text-align: left;
   color: #333333;
   background: #F8EFEF;
}

.social__text {
   width: 470px;
   height: 42px;
   margin: 18px 0;
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
}

.social__icons {
   min-width: 662px;
   height: 70px;
   margin-top: 37px;
   padding-right: 13px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}