.features__container {
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
}

.features__content {
   margin: 16px 0 117px;
   display: flex;
   flex-wrap: wrap;
   flex: 1 1 370px;
   align-items: center;
   text-align: center;
   justify-content: space-between;
}

.features__content-item {
   margin-top: 100px;
   width: 31.62%;

}

.features__content-title {
   height: 72px;
   line-height: 72px;
   margin: 29px 0 20.43px;
   font-size: 24px;
   font-weight: 900;
   text-transform: uppercase;
   color: #2D3033;
}

.features__content-text {
   font-size: 18px;
   line-height: 116.67%;
   color: #6C7279;
}

@media (max-width: 1024px) {
   .features__container {
      max-width: 984px;
   }

   .features__content {
      width: 100%;
      margin: 19px 0 80px;
      flex: 1 1 315px;
   }

   .features__content-item {
      margin-top: 60px;
      width: 32%;
   }

   .features__content-title {
      height: 60.55px;
      line-height: 60.55px;
      margin: 34px 0 3.95px;
      font-size: 18px;
   }

   .features__content-text {
      font-size: 14px;
      line-height: 114.28%;
   }
}

@media (max-width: 768px) {

   .features__content {
      margin-bottom: 35px;
   }

   .features__content-item {
      margin-top: 50px;
      width: 100%;
   }

   .features__content-title {
      height: 53px;
      line-height: 53px;
      margin: 30px 0 0;
   }

   .features__content-text {
      height: 80px;
      padding: 0 10px;
      margin: -8px 0 0;
      font-size: 14px;
   }
}