.footer__container {
   width: 100%;
   margin-top: 114px;
   background: #353C65;

}

.footer__content {
   max-width: 1170px;
   height: 251px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   color: #fff;
}

.footer__item {
   width: 31.63%;
   margin-top: 71px;
   text-align: center;
}

.footer__title {
   height: 21px;
   font-size: 18px;
   font-weight: 700;
   line-height: 21px;
   text-transform: uppercase;
}

.location__adress {
   height: 21px;
   margin-top: 29px;
   font-size: 18px;
   line-height: 21px;
   text-transform: capitalize;
}

.footer__icons {
   margin-top: 48.86px;
}

.footer__icons img {
   width: 39px;
   height: 39px;
   margin-left: 20px;
}

.about__text {
   margin-top: 28.71px;
   font-size: 18px;
   text-transform: capitalize;
}

.footer__copyright {
   background: #2C3154;
}

.copyright {
   max-width: 370px;
   padding: 24px 0;
   margin: 0 auto;
   text-align: center;
}

.text {
   font-size: 18px;
   color: #808080;

}

span {
   color: #fff;
}

@media (max-width: 1024px) {
   .footer__container {
      margin-top: 78px;
   }

   .footer__content {
      max-width: 1024px;
      padding: 0 20px;
      height: 230px;
   }

   .footer__item {
      width: 32%;
      margin-top: 71px;
      text-align: center;
   }

   .footer__title {
      height: 16px;
      font-size: 14px;
   }

   .location__adress {
      height: 16px;
      margin-top: 17px;
      font-size: 14px;
   }

   .footer__icons {
      margin-top: 32px;
   }

   .footer__icons img {
      width: 33px;
      height: 33px;
      margin-left: 23px;
   }

   .about__text {
      margin-top: 15px;
      font-size: 14px;
   }

   .copyright {
      max-width: 314px;
      padding: 14px 0;
   }

   .text {
      font-size: 14px;
   }
}

@media (max-width: 1024px) {
   .footer__content {
      height: 450px;
      flex-direction: column;
      justify-content: start;
      align-items: center;
   }

   .footer__item {
      width: 100%;
      margin-top: 60px;
   }

   .about__text {
      margin-top: 39px;
   }

}