.team__container {
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
}

.team__content {
   display: flex;
   margin-top: 114px;
}

.content__item {
   max-width: 270px;
   overflow: hidden;
}

.content__img {
   width: 100%;
   height: auto;
}

.content__item:not(:last-child) {
   margin-right: 30px;
}

.team__name {
   margin-top: 30px;
   font-size: 24px;
   font-weight: 700;
   text-transform: capitalize;
   line-height: 116.67%;
   color: #2D3033;
}

.team__descr {
   margin-top: 5.29px;
   font-size: 18px;
   line-height: 116.67%;
   color: #FF4343;
   text-transform: uppercase;
}

.team__text {
   margin: 17.86px 0 37.86px;
   font-size: 18px;
   line-height: 116.67%;
   color: #6C7279;
}

.social__icons a {
   text-decoration: none;
}

@media (max-width: 1024px) {
   .team__container {
      max-width: 984px;
   }

   .team__content {
      margin-top: 78px;
   }

   .content__item {
      max-width: 227px;
   }

   .content__item:not(:last-child) {
      margin-right: 25px;
   }

   .team__name {
      margin-top: 25px;
      font-size: 18px;
   }

   .team__descr {
      margin-top: 4.6px;
      font-size: 14px;
   }

   .team__text {
      margin: 22.45px 0 39.2px;
      font-size: 14px;
   }

   .team__social-icon {
      height: 32px;
      width: 32px;
   }
}