.testimonials__container {
   max-width: 1510px;
   padding: 0 15px;
   margin: 0 auto;
}

.testimonials__content {
   margin-top: 114px;
   display: flex
}

.testimonials__part {
   width: 60%;
   height: 490px;
   overflow: hidden;
}

.testimonials__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.testimonials__right-content {
   max-width: 471px;
   height: 258px;
   text-align: center;
   margin: 116px auto 145px;
}

.testimonials__part-right {
   align-items: center;
   width: 50%;
   height: 490px;
   background: #5C3249;
   overflow: hidden;
   text-align: center;
}

.testimonials__quote {
   max-width: 471px;
   font-family: 'Cardo';
   font-size: 36px;
   font-style: italic;
   font-style: normal;
   line-height: 136.11%;
   color: #fff;
   text-transform: capitalize;
}

.testimonials__name-quote {
   padding-top: 20px;
   font-size: 13px;
   font-weight: 700;
   color: #fff;
   line-height: 115.38%;
   text-transform: uppercase;
}

@media (max-width:1024px) {
   .testimonials__container {
      max-width: 1024px;
   }

   .testimonials__content {
      margin-top: 78px;
   }

   .testimonials__part {
      height: 332px;
   }

   .testimonials__right-content {
      height: 230px;
   }

   .testimonials__quote {
      max-width: 330px;
      margin: 0 auto;
      font-size: 24px;
   }

   .testimonials__part-right {
      height: 332px;
   }

   .testimonials__name-quote {
      padding-top: 0;
      font-size: 12px;
   }

}

@media (max-width:768px) {
   .testimonials__container {
      padding: 0;
      margin-top: 34px;
   }

   .testimonials__content {
      flex-direction: column;
      align-items: center;
   }

   .testimonials__part {
      width: 100%;
   }

   .testimonials__right-content {
      margin-top: 25px;
      margin-bottom: 95px;
   }

   .testimonials__name-quote {
      margin-top: 25px;
   }

   .testimonials__part-right {
      width: 100%;

   }

   .testimonials__content {
      margin-top: 0;
   }
}

.slider {
   background-color: #ddd;
   height: inherit;
   /*overflow: hidden;*/
   position: relative;
   width: inherit;
   -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
   -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
   -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
   box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.testimonials__container>input {
   display: none;
}

.slides {
   height: inherit;
   position: absolute;
   width: inherit;
}

.testimonials__container .controls {
   left: 50%;
   margin-left: -98px;
   position: absolute;
}

.testimonials__container label {
   cursor: pointer;
   display: inline-block;
   height: 8px;
   margin: 25px 12px 0 16px;
   position: relative;
   width: 8px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
}

.testimonials__container label:after {
   border: 2px solid #ddd;
   content: " ";
   display: block;
   height: 12px;
   left: -4px;
   position: absolute;
   top: -4px;
   width: 12px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
}

.testimonials__container label {
   cursor: pointer;
   display: inline-block;
   height: 8px;
   margin: 25px 12px 0 16px;
   position: relative;
   width: 8px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   -webkit-transition: background ease-in-out .5s;
   -moz-transition: background ease-in-out .5s;
   -o-transition: background ease-in-out .5s;
   transition: background ease-in-out .5s;
}


.testimonials__container label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3),
#slide4:checked~.controls label:nth-of-type(4),
#slide5:checked~.controls label:nth-of-type(5) {
   background: #7E5D6F;
}